<div class="center jumbotron">
  <h1>List of available resources:</h1>

  <div class="list-group">
    <%= link_to "Films", '#', :class=>"list-group-item" %>
    <%= link_to "People", '#', :class=>"list-group-item" %>
    <%= link_to "Planets", '#', :class=>"list-group-item" %>
    <%= link_to "Species", '#', :class=>"list-group-item" %>
    <%= link_to "Starships", '#', :class=>"list-group-item" %>
    <%= link_to "Vehicles", '#', :class=>"list-group-item" %>
  </div>
</div>
