<div class="container">
  <div class="row">
    <%= render partial: 'panel', locals: { path: films_path, title: 'Films', img: 'sw.jpg' } %>
    <%= render partial: 'panel', locals: { path: people_path, title: 'People', img: 'sw.jpg' } %>
    <%= render partial: 'panel', locals: { path: planets_path, title: 'Planets', img: 'sw.jpg' } %>
  </div>
</div><br>

<div class="container">
  <div class="row">
    <%= render partial: 'panel', locals: { path: species_index_path, title: 'Species', img: 'sw.jpg' } %>
    <%= render partial: 'panel', locals: { path: starships_path, title: 'Starships', img: 'sw.jpg' } %>
    <%= render partial: 'panel', locals: { path: vehicles_path, title: 'Vehicles', img: 'sw.jpg' } %>
  </div>
</div><br><br>
