<div class="center jumbotron">
  <h1>List of available resources:</h1>

  <div class="list-group">
    <%= link_to "Films", films_path, :class=>"list-group-item" %>
    <%= link_to "People", people_path, :class=>"list-group-item" %>
    <%= link_to "Planets", planets_path, :class=>"list-group-item" %>
    <%= link_to "Species", species_index_path, :class=>"list-group-item" %>
    <%= link_to "Starships", starships_path, :class=>"list-group-item" %>
    <%= link_to "Vehicles", vehicles_path, :class=>"list-group-item" %>
  </div>
</div>
