<% provide(:title, 'Species') %>

<h1>Species</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Average height</th>
      <th>Average lifespan</th>
      <th>Classification</th>
      <th>Designation</th>
      <th>Eye colors</th>
      <th>Hair colors</th>
      <th>Language</th>
      <th>Skin colors</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @species.each do |species| %>
      <tr class="clickable-row" data-href="<%= species_path(species) %>">
        <td><%= species.name %></td>
        <td><%= species.average_height %></td>
        <td><%= species.average_lifespan %></td>
        <td><%= species.classification %></td>
        <td><%= species.designation %></td>
        <td><%= species.eye_colors %></td>
        <td><%= species.hair_colors %></td>
        <td><%= species.language %></td>
        <td><%= species.skin_colors %></td>
      </tr>
    <% end %>
  </tbody>
</table>
