<% provide(:title, @species.name) %>

<p>
  <strong>Name:</strong>
  <%= @species.name %>
</p>
<p>
  <strong>Average height:</strong>
  <%= @species.average_height %>
</p>

<p>
  <strong>Average lifespan:</strong>
  <%= @species.average_lifespan %>
</p>

<p>
  <strong>Classification:</strong>
  <%= @species.classification %>
</p>

<p>
  <strong>Designation:</strong>
  <%= @species.designation %>
</p>

<p>
  <strong>Eye colors:</strong>
  <%= @species.eye_colors %>
</p>

<p>
  <strong>Hair colors:</strong>
  <%= @species.hair_colors %>
</p>

<p>
  <strong>Language:</strong>
  <%= @species.language %>
</p>

<p>
  <strong>Skin colors:</strong>
  <%= @species.skin_colors %>
</p>

<p>
  <strong>Homeworld:</strong>
  <%= link_to @species.planet.name, @species.planet %>
</p>

<%= render partial: 'shared/spoilers', locals: {
    summaries: %w(Films People),
    collections: [ @species.films, @species.people ]
}%>
