<% provide(:title, @planet.name) %>

<p>
  <strong>Name:</strong>
  <%= @planet.name %>
</p>

<p>
  <strong>Climate:</strong>
  <%= @planet.climate %>
</p>

<p>
  <strong>Diameter:</strong>
  <%= @planet.diameter %>
</p>

<p>
  <strong>Gravity:</strong>
  <%= @planet.gravity %>
</p>

<p>
  <strong>Orbital period:</strong>
  <%= @planet.orbital_period %>
</p>

<p>
  <strong>Population:</strong>
  <%= @planet.population %>
</p>

<p>
  <strong>Rotation period:</strong>
  <%= @planet.rotation_period %>
</p>

<p>
  <strong>Surface water:</strong>
  <%= @planet.surface_water %>
</p>

<p>
  <strong>Terrain:</strong>
  <%= @planet.terrain %>
</p>

<%= render partial: 'shared/spoilers', locals: {
    summaries: %w(Films Residents),
    collections: [ @planet.films, @planet.people ]
}%>
