<% provide(:title, 'Films') %>

<h1>Films</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Episode</th>
      <th>Title</th>
      <th>Release date</th>
      <th>Director</th>
      <th>Producer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @films.each do |film| %>
      <tr class="clickable-row" data-href="<%= film_path(film) %>">
        <td><%= film.episode_id %></td>
        <td><%= film.title %></td>
        <td><%= film.release_date %></td>
        <td><%= film.director %></td>
        <td><%= film.producer %></td>
      </tr>
    <% end %>
  </tbody>
</table>
