<% provide(:title, @film.title) %>

<h1>Episode <%= @film.episode_id %>: <%= @film.title %></h1>
<h2>by <%= @film.director %></h2>

<%= image_tag @film.poster.url %>

<p class="center-justified">
  <%= h(@film.opening_crawl).gsub(/\n/, '<br>').html_safe %>
</p>

<p>
  <strong>Producer:</strong>
  <%= @film.producer %>
  <br>
  <strong>Release date:</strong>
  <%= @film.release_date %>
</p>


<%= render partial: 'shared/spoilers', locals: {
    summaries: %w(Characters Planets Species Starships Vehicles),
    collections: [ @film.people, @film.planets, @film.species, @film.starships, @film.vehicles ]
}%>
