<% provide(:title, 'Starships') %>

<h1>Starships</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Manufacturer</th>
      <th>Model</th>
      <th>Starship class</th>
      <th>Consumables</th>
      <th>Crew</th>
      <th>Hyperdrive rating</th>
      <th>Passengers</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @starships.each do |starship| %>
      <tr class="clickable-row" data-href="<%= starship_path(starship) %>">
        <td><%= starship.name %></td>
        <td><%= starship.manufacturer %></td>
        <td><%= starship.model %></td>
        <td><%= starship.starship_class %></td>
        <td><%= starship.consumables %></td>
        <td><%= starship.crew %></td>
        <td><%= starship.hyperdrive_rating %></td>
        <td><%= starship.passengers %></td>
      </tr>
    <% end %>
  </tbody>
</table>
