<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Star Wars", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Films", '#' %></li>
        <li><%= link_to "People", '#' %></li>
        <li><%= link_to "Planets", '#' %></li>
        <li><%= link_to "Species", '#' %></li>
        <li><%= link_to "Starships", '#' %></li>
        <li><%= link_to "Vehicles", '#' %></li>
      </ul>
    </nav>
  </div>
</header>
