<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "Star Wars", root_path, id: "logo", class: "navbar-brand" %>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to "Films", films_path %></li>
        <li><%= link_to "People", people_path %></li>
        <li><%= link_to "Planets", planets_path %></li>
        <li><%= link_to "Species", species_index_path %></li>
        <li><%= link_to "Starships", starships_path %></li>
        <li><%= link_to "Vehicles", vehicles_path %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
            <li><%= link_to "Profile", user_root_path %></li>
            <li><%=	link_to "Log out", destroy_user_session_path, method: :delete %></li>
        <% else %>
            <li><%= link_to "Log in | Sign up", new_user_session_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
