<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Star Wars", root_path, id: "logo", class: "navbar-brand" %>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><%= link_to "Films", films_path %></li>
        <li><%= link_to "People", people_path %></li>
        <li><%= link_to "Planets", planets_path %></li>
        <li><%= link_to "Species", species_index_path %></li>
        <li><%= link_to "Starships", starships_path %></li>
        <li><%= link_to "Vehicles", vehicles_path %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
            <li><%= link_to "Profile", user_root_path %></li>
            <li><%=	link_to "Log out", destroy_user_session_path, method: :delete %></li>
        <% else %>
            <li><%= link_to "Log in | Sign up", new_user_session_path %></li>
        <% end %>
        <li><a href="#"><span class="glyphicon glyphicon-shopping-cart"></span> Cart</a></li>
      </ul>
    </div>
  </div>
</nav>
